@media screen and (max-width: 1440px){
	.about {
		&__heading::before {
			display: none;
		}
		&__paragraph::before {
			display: none;
		}
	}
}
@media screen and (max-width: 1024px){
	.header {
		&__list {
			li {margin: 0 0 0 30px;}
		}
		&__lang {margin: 0 0 0 25px;}
		&__logo--text::before {
			transform: translate(-107%, -50%);
		}
	}
	.about {
		&__graphic {
			margin: 50px 25px;
		}
	}
}
@media screen and (max-width: 768px){
	.header {
		min-height: 600px;
		&__container {
			min-height: 600px;
			&--flex {
				flex-direction: column;
				justify-content: center;
				min-height: 600px;
				padding: 70px 15px 15px 15px;
			}
		}
		&__background-1 {
			min-width: 0;
			width: 60%;
			img {min-width: 0;}
		}
		&__background-2 {
			min-width: 0;
			width: 40%;
			img {min-width: 0;}
		}
		&__navigation {
			display: none;
		}
		&__burger-text {
			display: none;
		}
		&__graphic {
			flex-direction: row;
			align-items: center;
			order: 3;
			&--line {
				margin: -10px 0 0 0;
				transform: rotate(-90deg);
			}
			&--number {
				transform: rotate(0deg);
			}
			&--dots {
				display: flex;
				margin: 50px 0 0 0;
			}
			&--letter {
				display: none;
			}
		}
		&__button {
			max-width: 250px;
			margin: 5% 0;
		}
		&__some-text {
			height: 14px;
			padding: 0;
			&--inf {
				min-width: 0;
				transform: rotate(0);
			}
			&--line {display: none;}
		}
	}
	.about {
		&__item {
			flex-direction: column;
			&.right {
				flex-direction: column-reverse;
			}
		}
		&__number {
			padding: 0 20px 0 0;
			&.right {
				padding: 0 0 0 20px;
			}
		}
		&__graphic {
			margin: 15px;
		}
	}
}
@media screen and (max-width: 425px){
	.header {
		&__lang {
			margin: 0 0 0 5px;
		}
	}
}