// about-section
.about {
	&__flex {
		@include flex;
		flex-direction: column;
		padding: 50px 0;
	}
	&__item {
		position: relative;
		@include flex;
		margin: 10px;
		&::before {
			content: 'F';
			position: absolute;
			left: 0;
			top: -95%;
			opacity: 0.07;
			color: #bea67c;
			font-family: $PBd;
			font-size: 396px;
			text-transform: uppercase;
			letter-spacing: 18px;
			z-index: 100;
		}
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: -85px;
			width: 4px;
			height: 51px;
			background-color: #bea67c;
			z-index: 100;
		}
		&.right {
			&::before {
				content: 'D';
				right: 0;
			}
			&::after {
				top: 430px;
			}
		}
	}
	&__graphic {
		// line between items
		align-self: flex-start;
		width: 4px;
		height: 51px;
		margin: 100px 15px;
		background-color: #a9946e;
	}
	&__number {
		position: relative;
		align-self: flex-end;
		color: #000;
		font-family: $PBd;
		font-size: 36px;
		text-transform: uppercase;
		letter-spacing: 2.7px;
		&::after {
			content: '.';
			position: absolute;
			color: #bea67c;
			font-size: 36px;
			letter-spacing: 2.7px;
		}
		&.right {
			align-self: flex-start;
		}
	}
	&__inf {
		// conteiner for text
		max-width: 530px;
		padding: 15px;
	}
	&__heading {
		position: relative;
		color: #010101;
		font-family: $PBd;
		@include adaptive-font(48, 24);
		@include adaptive-lh(100, 50);
		text-transform: uppercase;
		letter-spacing: 3.36px;
		&::before {
			content: '';
			position: absolute;
			left: -35%;
			top: 50%;
			width: 151px;
			height: 1px;
			background: #000;
		}
		&.right {
			&::before {
				left: 105%;
			}
		}
	}
	&__paragraph {
		position: relative;
		color: #464646;
		font-family: $PRg;
		@include adaptive-font(15, 13);
		line-height: 25px;
		letter-spacing: 0.38px;
		&::before {
			content: '';
			position: absolute;
			left: -15%;
			top: 50%;
			width: 44px;
			height: 4px;
			background-color: #bea67c;
		}
		&.right {
			&::before {
				left: 105%;
			}
		}
	}
	&__link {
		position: relative;
		color: #000;
		font-family: $PBd;
		font-size: 14px;
		@include adaptive-lh(70, 50);
		text-transform: uppercase;
		letter-spacing: 2.8px;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 44px;
			height: 1px;
			background-color: #a9946e;
		}
		&::after {
			content: '';
			position: absolute;
			right: -50%;
			top: 45%;
			width: 44px;
			height: 1px;
			background-color: #a9946e;
		}
		&.right {
			&::after {
				right: 115%;
			}
			&::before {
				left: 60%;
			}
		}
	}
	&__img {
		position: relative;
		max-width: 616px;
		width: 100%;
		max-height: 397px;
		padding: 15px;
		img {
			width: 100%;
			height: auto;
			box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
		}
		&::before {
			content: 'Furniture';
			position: absolute;
			top: 20%;
			opacity: 0.2;
			color: #d0d0d0;
			font-family: $PBd;
			font-size: 169px;
			text-transform: uppercase;
			letter-spacing: 3.36px;
		}
		&.right {
			&::before {
				content: 'decor';
				left: -25%;
			}
		}
	}
}
.right {
	// class which using in second item
	text-align: right;
}

// projects-section

.project {
	&__flex {
		padding: 50px 0;
		text-align: center;
	}
	&__block {
		// container for text
		padding: 15px;
	}
	&__heading {
		color: #000;
		font-family: $PBd;
		@include adaptive-font(48, 24);
		text-transform: uppercase;
		letter-spacing: 3.36px;
	}
	&__line {
		width: 44px;
		height: 4px;
		margin: 10px auto 20px auto;
		background-color: #bea67c;
	}
	&__text {
		color: #636262;
		font-family: $PRg;
		@include adaptive-font(15, 13);
		@include adaptive-lh(25, 18);
		letter-spacing: 0.38px;
	}
	&__container {
		@include flex;
		padding: 50px 0;
	}
	&__item {
		max-width: 272px;
		width: 100%;
		margin: 2rem;
		&--block {
			position: relative;
			max-width: 268px;
			width: 100%;
			min-height: 268px;
			margin: 0 auto;
			border-radius: 50%;
			border: 1px solid #e1e1e1;
		}
		&--bg {
			// background of .header__item--block
			position: absolute;
			left: 50%;
			top: 50%;
			max-width: 243px;
			width: 100%;
			min-height: 243px;
			border-radius: 50%;
			background: #000 url("../img/video/1.webp") center / cover;
			transform: translate(-50%, -50%);
			&.second {
				background: #000 url("../img/video/2.webp") center / cover;
			}
			&.third {
				background: #000 url("../img/video/3.webp") center / cover;
			}
		}
		&--btn {
			@include flex;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 68px;
			height: 68px;
			padding: 0;
			background-color: #bea67c;
			border-radius: 50%;
			opacity: 0.8;
			transform: translate(-50%, -50%);
			img {
				padding: 0 0 0 5px;
			}
		}
		&--line {
			width: 25px;
			height: 1px;
			margin: 20px auto 15px auto;
			border: 1px solid #bea67c;
		}
		&--heading {
			color: #000;
			font-family: $PRg;
			line-height: 24px;
			letter-spacing: 0.4px;
		}
	}
}

// info-section

.info {
	position: relative;
	min-height: auto;
	&__bg-1 {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		background: #000;
		img {
			height: 100%;
		}
	}
	&__bg-2 {
		position: absolute;
		right: 70px;
		top: 8%;
	}
	&__flex {
		position: relative;
		@include flex;
		max-width: 1560px;
		width: 100%;
		min-height: 737px;
		margin: 0 auto;
		padding: 90px 0;
	}
	&__block {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 200px;
		margin: 20px;
		border: 1px solid #bea67c;
		&::after {
			content: '';
			position: absolute;
			right: 20px;
			top: 40%;
			width: 1px;
			height: 151px;
			border: 1px solid #ffffff;
		}
	}
	&__heading {
		position: relative;
		max-width: 506px;
		color: #bea67c;
		font-family: $PBd;
		@include adaptive-font(48, 24);
		@include adaptive-lh(60, 28);
		text-transform: uppercase;
		letter-spacing: 1.2px;
		&::before {
			content: '';
			position: absolute;
			left: -171px;
			top: 50%;
			width: 151px;
			height: 1px;
			border: 1px solid #ffffff;
		}
	}
	&__text {
		position: relative;
		max-width: 400px;
		padding: 50px 0;
		color: #fff;
		font-family: $PRg;
		@include adaptive-font(15, 13);
		@include adaptive-lh(25, 18);
		letter-spacing: 0.38px;
		&::before {
			content: '';
			position: absolute;
			left: -64px;
			top: 30%;
			width: 44px;
			height: 4px;
			background-color: #bea67c;
		}
	}
	&__button {
		@include flex;
		max-width: 306px;
		width: 100%;
		height: 58px;
		background: transparent;
		border: 2px solid #ffffff;

		color: #fff;
		font-family: $PBd;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		img {
			padding: 0 15px 0 0;
		}
	}
}