// mixins
@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@mixin adaptive-lh($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	line-height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@mixin adaptive-width($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	width: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
// import files
@import "fonts.scss";
@import "vars.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "media.scss";
// start styles and zeroing
*,
*::before,
*::after {
	box-sizing: border-box;
}
body,
h1, h2, h3, h4,
p,
ul[class], ol[class], li,
figure, figcaption,
blockquote,
dl, dd {
	margin: 0;
}
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
input,
button,
textarea,
select {
	font: inherit;
	border: none;
	outline: none;
	cursor: pointer;
}
.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1190px;
	margin: 0 auto;
}
// container for main content
.main {
	min-height: calc(100vh - 175px);
}