<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml
  text/javascript text/css application/x-javascript
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4.0[678] no-gzip
  BrowserMatch bMSIE !no-gzip !gzip-only-text/html
  <ifModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_item_include file \.js$
    mod_gzip_item_include file \.css$
  </ifModule>
</IfModule>


<FilesMatch ~ "\.(php|htaccess|html|js)$">
  Order allow,deny
  Deny from all
  allow from 192.168.1.22
</FilesMatch>

<IfModule mod_headers.c>
  <FilesMatch "\.(css|js)$">
    Header append Cache-Control "max-age=172800, must-revalidate"
  </FilesMatch>
  <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|svg|mp4|mov|swf|woff|woff2)$">
    Header set Cache-Control "max-age=1209600, must-revalidate"
  </FilesMatch>
</IfModule>
